!!!
- title = current_page.data.title || "It's just a game..."

%html
  %head
    =partial :head, :locals => { :title => title }
  %body
    %header= partial :header
    .lhs= partial :lhs
    .contents
      %h1= title
      =yield
      =articles_for current_page
    .rhs= partial :rhs
    %footer= partial :footer