= link_to "Link1", "#"
|
= link_to "Link2", "#"
|
= link_to "Link3", "#"
|
= link_to "Link4", "#"
|
= link_to "Link5", "#"
|
Copyright &copy; 2013 Paul Bartlett
|
Design by
= link_to "Wink Hosting", "http://winkhosting.com"
