#companyname{align: "left"} The Bartletts
#menu.links_menu{align: "right"}
  = link_to "Link1", "#"
  |
  = link_to "Link2", "#"
  |
  = link_to "Link3", "#"
  |
  = link_to "Link4", "#"
  |
  = link_to "Link5", "#"
