- titleFont = "Tangerine"

%meta{'charset' => 'utf-8'}/
%title= title
= stylesheet_link_tag "all"
= stylesheet_link_tag "http://fonts.googleapis.com/css?family=#{titleFont}"
:css
  h1 { font-family: #{titleFont} }
