%meta{'charset' => 'utf-8'}/
%title= title
= stylesheet_link_tag "all"
= stylesheet_link_tag "http://fonts.googleapis.com/css?family=#{data.site.titleGoogleFont}"
:css
  h1 { font-family: #{data.site.titleGoogleFont}, #{data.site.titleBackupFonts} }
