---
header:
  - type: image
    src: welBanner.gif
    link: welcome/contact.htm
---

-content_for :header_bar do
  =s_section current_page.data.header

.page_section= partial :topinfo

.page_section= s_img "welHomeCommunion.gif"

.page_section= partial :sitelinks

.page_section= s_img "welHlySouls.gif"

.page_section
  %span.boxed
    =s_link_block "features/schoolChoice.htm" do
      =s_img "welschool.gif"
  %span.boxed
    =s_link_block "features/cakeoct13/" do
      =s_img "welcake.jpg"

.page_section
  =s_img "welLuke.gif"
  %span.boxed= s_img "welVMM.gif"

.page_section= s_img "welReconc.gif"
.page_section= s_img "welChildTxt.gif"

.page_section
  %hr.partial
  %h2 Friday, 1st was the Feast of All The Saints and a Holy Day of Obligation.
  %span.boxed= s_img "welAllSaints.gif"

.page_section
  =s_link_block "features/lo13.htm" do
    =s_img "wello13.jpg"

.page_section= s_img "welSchoolNotes.gif"

.page_section= s_img "welStJose.gif"

.page_section
  %span.boxed= s_img "weltoddler.gif"
  %span.boxed
    =s_link_block "features/odm13/" do
      =s_img "weloam13.jpg"

.page_section
  =s_link_block "holyfamily1/social.htm" do
    =s_img "welHire.gif"

.page_section
  =s_img "welRcia.gif"
  %span.boxed= s_img "wel226new.gif"
  =s_link_block "welcome/tif.htm" do
    =s_img "welTIF1.gif"

.page_section
  =s_img "welgbAni.GIF"
  =s_link_block "holyfamily1/humbly.htm" do
    =s_img "WELhumbly.gif"

.page_section
  =s_img "welSocialAniX.GIF"
  =s_link_block "holyfamily1/social.htm" do
    =s_img "welSocial.gif"

.page_section
  =s_img "welChildBooks.gif"
  %span.boxed= s_img "welLegion.gif"

=partial :twitter

%hr
%h2
  Organisers: if any event has to be cancelled, please let us know so that the space can be
  reused for more information.
%hr

.page_section= s_img "wellineDanceBanner.gif"

.page_section
  =s_link_block "http://www.firstclasslearning.co.uk/" do
    %span<>= s_img "welMaths.gif"
  =s_link_block "http://www.oconnoririshdancing.co.uk/" do
    %span<>= s_img "weloConnor.gif"

.page_section
  =s_img "WELcoffee_cup.gif"
  %span.boxed
    =s_link_block "http://www.dementiauk.org/" do
      =s_img "welDementia.gif"

.page_section= s_img "welbowls.gif"

.page_section
  =s_link_block "http://www.northamptondiocese.org/NEWSANDEVENTS/TheVineOnline/tabid/130/Default.aspx" do
    =s_img "WELvine.gif"


.page_section
  =s_link_block "http://www.perfectly-groomed.co.uk/" do
    =s_img "WELpgbanner.gif"
